# =========================================================
# AMBIENTE Y CONFIGURACIÓN GENERAL
# =========================================================
APP_ENV=DEV
REFERENCE_SOURCE=ENUM
TIEMPO_ESPERA_MONITOREO_GENERAL=10

# =========================================================
# RUTA DE CARPETAS EXCLUSIVAS
# =========================================================
BASE_DIR=C:\AetherCore

# =========================================================
# CONFIGURACIÓN DE APIS
# =========================================================
VCASH_API_URL=your_api_url
AC4_AUTH_USER=your_username
AC4_AUTH_PASSWORD=your_secure_password

EXTERNAL_API_URL=your_api_url
EXTERNAL_API_USER=your_username
EXTERNAL_API_PASSWORD=your_secure_password
API_BULK_LIMIT=10